#details-main {
  min-width: 1280px;
}

#details-main > .container {
  width: 1280px;
  padding: 0 45px;
  margin: auto;
}

/*대표 이미지 전체*/
#details-main > .container > .img-box {
  display: flex;
  gap:24px;
  margin-top: 70px;
  position: relative;
}
#details-main > .container > .img-box > .t-img > img{
  width: 600px;
  height: 500px;
  display: block;
  border-radius: 10px;
}
#details-main > .container > .img-box > .s-img {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
#details-main > .container > .img-box > .s-img > img {
  display: block;
  width: 270px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}

/*이미지 좌우버튼*/
#details-main > .container > .img-box > .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
#details-main > .container > .img-box > .btn > p > .next {
  right: 0;
}
#details-main > .container > .img-box > .btn > i {
  width: 50px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #f1f1f1;
}
#details-main > .container > .img-box:hover .btn {
  cursor: pointer;
  opacity: 1;
}

/*타이틀 정보*/
.hotel-title {
  width: 100%;
  margin-top: 50px;
}
.hotel-title > .header > p{
  font-size: 13px;
  color: #555;
  padding: 2px 5px;
  border: 1px solid #555;
  display: inline-block;
  border-radius: 3px;
}
.hotel-title > .header > div {
  display: flex;
  justify-content: space-between;
}
.hotel-title > .header > div > h1 {
  font-size: 30px;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}
.hotel-title > .header > div > .pic {
  display: flex;
  gap: 26px;
}
.hotel-title > .header > div > .pic > img {
  width: 28px;
  height: 25px;
  display: flex;
}
.hotel-title > .header > h2 {
  font-size: 20px;
  font-weight: normal;
  color: #333;
  margin-top: 6px;
}

/*주소부분 : 미들*/
.hotel-title > .middle {
  display: flex;
  justify-content: space-between;
}
.hotel-title > .middle > .txt {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hotel-title > .middle > .txt > div {
  display: flex;
}
.hotel-title > .middle > .txt > div > img {
  width: 21px;
  height: 20px;
  margin-right: 6px;
}
.hotel-title > .middle > .txt > div > p {
  line-height: 20px;
  color: #555;
  margin-right: 10px;
}
.hotel-title > .middle > .txt > div > span {
  padding-left: 10px;
  color: #555;
  border-left: 1px solid #555;
}
.hotel-title > .middle > .map-view {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 7px 15px;
  cursor: pointer;
}
.hotel-title > .middle > .map-view > img {
  width: 19px;
  height: 17px;
  display: block;
}
.hotel-title > .middle > .map-view > p {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

/*박스 : bottom*/
.hotel-title > .bottom {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
/*공통속성*/
.hotel-title > .bottom > .checkIn {
  display: flex;
  width: 400px;
  height: 120px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.hotel-title > .bottom > .checkIn > .card {
  padding: 16px 19px;
  width: 200px;
  text-align: center;
}
.hotel-title > .bottom > .checkIn > .card > h2{
  font-size: 14px;
  font-weight: 500;
  color: #bbb;
  /* text-align: center; */
  margin-bottom: 16px;
}
/*왼쪽카드*/
.hotel-title > .bottom > .checkIn > .card.left > b {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
  /* text-align: center; */
}
.hotel-title > .bottom > .checkIn > .card.left > p{
  font-weight: 700;
  color: #0283DF;
  text-align: center;
  margin-top: 16px;
}
.hotel-title > .bottom > .checkIn > .card.left {
  border-right: 1px solid #ddd;
}
/*오른쪽카드*/
.hotel-title > .bottom > .checkIn > .right > img {
  display: inline-block;
  width: 21px;
  height: 20px;
}
.hotel-title > .bottom > .checkIn > .right > span {
  color: #333;
  font-weight: 600;
}

/*포함사항 박스*/
.hotel-title > .bottom > .include {
  width: 380px;
  height: 120px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
}
.hotel-title > .bottom > .include > h2 {
  font-size: 14px;
  font-weight: 600px;
  color: #333;
}
.hotel-title > .bottom > .include > p {
  font-size: 12px;
  color: #999;
  margin-top: 16px;
}

/*현지 추가 지불사항*/
.hotel-title > .bottom > .add-pay {
  width: 380px;
  height: 120px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
}
.hotel-title > .bottom > .add-pay > h2 {
  font-size: 14px;
  font-weight: 600px;
  color: #333;
}
.hotel-title > .bottom > .add-pay > p {
  font-size: 12px;
  color: #999;
  margin-top: 16px;
}
.hotel-title > .bottom > .add-pay > i {
  text-align: right;
  color: #bbb;
  display: block;
  cursor: pointer;
}

/*탭 아이템 시작*/
.tab-item {
  margin :50px 0;
}
.tab-item > .btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-bottom: 25px;
}
.tab-item > .btn > .tab-btn {
  flex: 1;
  background-color: #fff;
  outline: none;
  border: none;
  border-top: 1px solid #555;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /**/
}
.tab-item > .btn > .tab-btn.active {
  box-shadow: inset 0 -3px 0 #555;
  background-color: #ddd;
  /* border-bottom: 3px solid #555; */
}
.tab-item > .btn > .tab-btn:hover {
  background-color: #d9d9d9;
}

/*컨텐츠 부분*/
.tab-item > .content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}
.tab-item > .content > .title {
  display: flex;
  gap: 6px;
}
.tab-item > .content > .title > img {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.tab-item > .content > .title > h2 {
  font-size: 16px;
  font-weight: 600;
  color: #0283DF;
  line-height: 24px;
}
.tab-item > .content > .txt > p {
  margin-top: 25px;
  color: #555;
}

