#map{
  min-width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  padding-top: 200px;
  display: none;
  opacity: 0;
  transition: 0.3s;
}
#map > .container {
  margin: auto;
  max-width: 900px;
  width: 80%;
  height: 600px;
  /* background-color: #f1f1f1; */
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
}
#map > .container > .top {
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
  
}
#map > .container > .top > button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  float: right;
  color: #333;
  line-height: 50px;
  margin-right: 10px;
  cursor: pointer;
}
#map > .container > .main-map {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 20px;
}
#map > .container > .main-map > .view {
  margin-left: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
}
#map > .container > .main-map > .view a{
  display: inline-block;
  width: 100px;
  line-height: 50px;
  text-align: center;
  color: #111;
}
#map > .container > .main-map > .view > :nth-child(1){
  border-right: 1px solid #bbb;
}
#map > .container > .main-map > .view > :nth-child(2){
  color: #bbb;
}
.veiw::after {
  display: block;
  content: "";
  clear: both;
}
#map > .container > .main-map > .size {
  border-radius: 10px;
  background-color: #fff;
  width: 50px;
  text-align: center;
  margin-right: 20px;
}
#map > .container > .main-map > .size> i {
  line-height: 50px;
  color: #333;
}